{
  "version": 8,
  "sources": {
    "osm": {
      "type": "raster",
      "tiles": [
        "${OSM_TILE_URL}"
      ],
      "tileSize": 256
    }
  },
  "layers": [
    {
      "id": "osm",
      "type": "raster",
      "source": "osm",
      "minzoom": 0,
      "maxzoom": 19
    }
  ]
}