{
  "version": 8,
  "sources": {
    "mapbox.satellite": {
      "type": "raster",
      "tiles": [
        "${SATELLITE_TILE_URL}"
      ],
      "tileSize": ${SATELLITE_TILE_SIZE}
    }
  },
  "layers": [
    {
      "id": "mapbox.satellite",
      "type": "raster",
      "source": "mapbox.satellite",
      "minzoom": 0,
      "maxzoom": 22
    }
  ]
}